<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>
<form #f="ngForm" (ngSubmit)="onLogin(f)">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>
          <ion-item>
            <ion-input 
            type="email"
  placeholder="Username"
            name="email"
            ngModel
            required>Email</ion-input>
          </ion-item>
  
          <ion-item>
            <ion-input
            type="password"
            placeholder="Password"
            name="password"
            ngModel
            required>Password</ion-input>
          </ion-item>
        </div>
  
        <div padding>
          <ion-button
          size="large"
          type="submit"
          expand="block"
          [disabled]="!f.valid">Login</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
<ion-content>
    
</ion-content>
