<ion-header>
  <ion-toolbar>
    <ion-icon  slot="start" size="large" (click)="previousUrl()" name="arrow-back"></ion-icon>
    <ion-title>
      {{'basic.setting' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>{{'basic.language' | translate }}</ion-label>
      <ion-button fill="outline" (click)="useLanguage('en')">en</ion-button>
      <ion-button fill="outline" (click)="useLanguage('fr')">fr</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
