<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="member">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>{{'page.member' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="class">
      <ion-icon name="book"></ion-icon>
      <ion-label>{{'page.class' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="professor">
      <ion-icon name="briefcase"></ion-icon>
      <ion-label>{{'page.subject' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
